body{
    background-color: aquamarine;
    text-align:center;
    font-family: 'Press Start 2P', cursive;
}

.button {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .buttonStart {
    background-color: white; 
    color: black; 
    border: 2px solid black;
  }
  
  .buttonStart:hover {
    background-color: black;
    color: white;
  }


  .buttonFeedPet {
    background-color: white; 
    color: black; 
    border: 2px solid red;
  }
  
  .buttonFeedPet:hover {
    background-color: red;
    color: white;
  }


  .buttonTurnOffLight {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
  }
  
  .buttonTurnOffLight:hover {
    background-color: blue;
    color: white;
  }

  .buttonPlayPet {
    background-color: white; 
    color: black; 
    border: 2px solid grey;
  }
  
  .buttonPlayPet:hover {
    background-color: grey;
    color: white;
  }
  

  .TamaEmoji{
    font-size: 200px;
  }


  


  
/* TRIED TO DO AN EMOJI USING CSS ...STILL SOME WORK IN PROGRESS
.face {
    background-color: green;
    width: 400px;
    height: 400px;
    border-radius: 100%;
   }

.mouth {
    position: absolute;
    background-color: red;
    width: 215px;
    height: 90px;
    border-radius: 7px 7px 100px 100px;
    top: 400px;
    left: 100px;
  } 


.eye-section { 
      
      width: 275px;
      height: 100px;
      position: absolute;
      left: 70px;
      top: 200px;
    }


     .left-eye, .right-eye {
        background-color: red;
        width: 52px;
        height: 65px;
        border-radius: 50px;
        position: absolute;
        top: 25px;
      }


      .right-eye {
        right: 20px;
      }


.sadface {
        background-color: rgb(255, 123, 0);
        width: 400px;
        height: 400px;
        border-radius: 100%;
       }
      
    .mouthSad {
        position: absolute;
        background-color: blue;
        width: 215px;
        height: 90px;
        border-radius: 7px 7px 10px 10px;
        top: 400px;
        left: 100px;
      }
      
      
      .left-eye-sad, .right-eye-sad {
        background-color: blue;
        width: 52px;
        height: 65px;
        border-radius: 50px;
        position: absolute;
        top: 25px;
      }

      .right-eye-sad {
        right: 20px;
      }

      */

.stats{
    
    padding: 0px 30px 0px 30px ;
}      


#panel {
    display: none;
    font-family: 'Courier New', Courier, monospace;
  }
  
